@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #383838;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 425px;
  background-color: var(--background);
  color: var(--foreground);
}

li {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1024px; /* Adjust as needed */
  min-width: 320px;
  margin: 0 auto; /* Center the container */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
